{% extends 'base.html' %}

{% block scripts %}
<script>
    // jquery function

    $(document).ready(function(){
        var grafico_peso_mixtoCtx = document.getElementById('grafico_peso_mixto').getContext('2d');
        var grafico_peso_mixto = new Chart(grafico_peso_mixtoCtx, {
            data: {
                labels: [ {% for semana in semanas_posibles %} {{semana}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    type: 'line',
                    label: 'Evolución de peso mixto',
                    fill: false,
                    data: [{% for row in ganancia_mixto %} {{row}},{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de peso ',
                    fill: false,
                    data: [{% for obj in objetivo_ganancia_mixto %} {{obj}},{% endfor %}],
                    borderColor: '#27E58B',
                    backgroundColor: '#27E58B',
                    borderWidth: 1.5,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }
            ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Gramos'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });

        var grafico_peso_machosCtx = document.getElementById('grafico_peso_machos').getContext('2d');
        var grafico_peso_machos = new Chart(grafico_peso_machosCtx, {
            type: 'line',
            data: {
                labels: [ {% for semana in semanas_posibles %} {{semana}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'Evoluciíon de peso machos',
                    fill: false,
                    data: [ {% for row in ganancia_machos %} {{row}} ,{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de Peso ',
                    fill: false,
                    data: [{% for obj in objetivo_ganancia_machos %} {{obj}},{% endfor %}],
                    borderColor: '#27E58B',
                    backgroundColor: '#27E58B',
                    borderWidth: 1.5,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Gramos'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });

        var grafico_peso_hembrasCtx = document.getElementById('grafico_peso_hembras').getContext('2d');
        var grafico_peso_hembras = new Chart(grafico_peso_hembrasCtx, {
            type: 'line',
            data: {
                labels: [ {% for semana in semanas_posibles %} {{semana}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'Evolución de peso hembras',
                    fill: false,
                    data: [ {% for row in ganancia_hembras %} {{row}} ,{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de peso ',
                    fill: false,
                    data: [{% for obj in objetivo_ganancia_hembras %} {{obj}},{% endfor %}],
                    borderColor: '#27E58B',
                    backgroundColor: '#27E58B',
                    borderWidth: 1.5,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Gramos'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });
    });



</script>

{% endblock scripts %}


{% block content %}


<div class="container text-center m-2">
    <h1> <b>  Ganancia de peso </b> </h1>
</div>
<div class="container m-2 mb-3 mt-4">
<h5> Hola, {{ user.nombre }} {{ user.apellido }} ! </h5>
<h5> A continuación se muestra la ganancia de peso promedio diario de las aves para el ciclo actual.</h5>
<h5> Se calcula tomando el aumento de peso de las aves por semana y dividiendolo en 7 dias.</h5>
<h5> La raza de este ciclo es {{raza_ultimo_ciclo}} y los dias finales del ciclo fueron {{dias_ultimo_ciclo}}.</h5>
</div>

<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->

<!-- <h1>{{ganancia_machos}}</h1>
<h1>{{machos_peso_semanas}}</h1>
<h1>{{ganancia_hembras}}</h1>
<h1>{{ganancia_mixto}}</h1> -->


<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Ganancia de peso mixto ciclo {{ultimo_ciclo_alimento}}</b></h5>
    <div class="container text-center">
        <canvas id="grafico_peso_mixto" width="300" height="300"></canvas>
    </div>
    


    <div class="container text-center">
        <div class="row m-2">
            <!-- <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Peso inicial mixto: {{  mixto_peso_inicial|floatformat:"g"}}g</b></button>
            </div> -->
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Ganacia final mixto: {{  ganancia_total_mixto|floatformat:"g"}}g</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Meta de ganancia final: {{ meta_mixto|floatformat:"g"}}g</b></button>
            </div>
            
        </div>
        <!-- {% if ultima_semana_ciclo_alimento != 6 %}
            <div class="row m-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso inicial mixto: {{  mixto_peso_inicial|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso actual mixto: {{  mixto_peso_final|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Meta actual de peso: {{objetivo_peso_actual_mixto|floatformat:"g"}}g </b></button>
                </div>
                
            </div>
        {% endif %} -->
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if meta_mixto > ganancia_total_mixto  %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Bad-rooster.png" width="80" > 
                {% elif ganancia_total_mixto > meta_mixto %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Excellent-rooster.png" width="80" > 
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Good-rooster.png" width="80" > 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
    </div> 
    <h5> </h5> 
</div>

<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Ganancia de peso machos ciclo {{ultimo_ciclo_alimento}}</b></h5>
    <div class="container text-center">
        <canvas id="grafico_peso_machos" width="300" height="300"></canvas>
    </div>
    <div class="container text-center">
        <div class="row m-2">
            <!-- <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Peso inicial machos: {{  machos_peso_inicial|floatformat:"g"}}g</b></button>
            </div> -->
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Ganancia final machos: {{  ganancia_total_machos|floatformat:"g"}}g</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Meta ganancia final: {{ meta_machos|floatformat:"g"}}g</b> </button>
            </div>
            
        </div>
        <!-- {% if ultima_semana_ciclo_alimento != 6 %}
            <div class="row m-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso inicial machos: {{  machos_peso_inicial|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso actual machos: {{  machos_peso_final|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Meta actual de peso: {{objetivo_peso_actual_machos|floatformat:"g"}}g </b></button>
                </div>
                
            </div>
        {% endif %} -->
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if meta_machos > ganancia_total_machos  %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Bad-rooster.png" width="80" > 
                {% elif ganancia_total_machos > meta_machos %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Excellent-rooster.png" width="80" > 
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Good-rooster.png" width="80" > 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
    </div> 
    <h5> </h5>
</div>

<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Ganancia de peso hembras ciclo {{ultimo_ciclo_alimento}}</b></h5>
    <div class="container text-center">
        <canvas id="grafico_peso_hembras" width="300" height="300"></canvas>
    </div>
    <div class="container text-center">
        <div class="row m-2">
            <!-- <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Peso inicial hembras: {{  hembras_peso_inicial|floatformat:"g"}}g</b></button>
            </div> -->
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Ganancia final hembras: {{  ganancia_total_hembras|floatformat:"g"}}g</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-m"><b>Meta ganancia final: {{ meta_hembras|floatformat:"g"}}g </b></button>
            </div>
            
        </div>
        <!-- {% if ultima_semana_ciclo_alimento != 6 %}
            <div class="row m-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso inicial hembras: {{  hembras_peso_inicial|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Peso actual hembras: {{  hembras_peso_final|floatformat:"g"}}g</b></button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-m"><b>Meta actual de peso: {{objetivo_peso_actual_hembras|floatformat:"g"}}g </b></button>
                </div>
            </div>
        {% endif %} -->
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if meta_hembras > ganancia_total_hembras  %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Bad-rooster.png" width="80" > 
                {% elif ganancia_total_hembras > meta_hembras  %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Excellent-rooster.png" width="80" > 
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Good-rooster.png" width="80" > 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>  
    <h5> </h5>
</div>


{% endblock content %}